
<section class="auth-section">
  <div class="auth-form-container">
    <img src="/images/imagelogo.png" alt="Email Reminder Logo" class="auth-logo">
    <h1>Register</h1>
    <%- include('../partials/alerts', { errors: errors }) %>
    <form action="/register" method="POST" novalidate>
      <div class="form-group">
        <label for="name"><i class="fa fa-user"></i> Name</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= oldInput.name || '' %>"
          required
          autocomplete="name"
          placeholder="Enter your name"
        >
      </div>
      <div class="form-group">
        <label for="email"><i class="fa fa-envelope"></i> Email</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= oldInput.email || '' %>"
          required
          autocomplete="email"
          placeholder="Enter your email"
        >
      </div>
      <div class="form-group">
        <label for="password"><i class="fa fa-lock"></i> Password</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          autocomplete="new-password"
          placeholder="Create a password"
        >
      </div>
      <div class="form-group">
        <label for="confirm"><i class="fa fa-lock"></i> Confirm Password</label>
        <input
          type="password"
          id="confirm"
          name="confirm"
          required
          autocomplete="new-password"
          placeholder="Confirm your password"
        >
      </div>
      <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i> Register</button>
    </form>
    <p class="form-link">
      Already have an account? <a href="/login">Login here</a>
    </p>
  </div>
</section>