<aside class="sidebar">
  <ul>
    <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
    <li><a href="/reminders"><i class="fa fa-bell"></i> Reminders</a></li>
    <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
  </ul>
</aside>